
.main{
	width: 100%;
	background-color: #D3D3D3;
	display: flex;
	justify-content: center;
	text-align: center;
	box-shadow:  2px 2px 2px lightgreen;
	margin:1%;
	padding:1%; 
}
.left{
	width: 30%;
	border: 3px solid red;
	background-color:#D3D3D3;
	box-shadow: 2px 2px 2px lightblack;
}
.right{
	width: 50%;
	border:2px solid #2df;
	background-color: #FFFFFF;
	justify-content: center;
	text-aline: row;
	box-shadow: 3px 3px 3px solid white;
	margin: 1%;
	padding: 1%;
}
li{
	font: 4px;
}
img{
width:200px;
border: solid white;
}
h1,
h2,
h3,{
front-size:33px;
box-shadow: 5px 5px 2px lightgreen;
}
@media only screen and (min-width: 320px) and (max-width: 550px){
.main{
diplay: flex;
flex-wrap: wrap;
}
.left{
width:95%;
}
}
@media only screen and(max-width:1024px);{
.main{
display: flex;
flex-wrap: colomn;
}
}
.sset table,tr,td{
	border:

}